body {
  background-color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding-top: 80px;
  margin: 0 auto;
}

.form_button {
  font-family: "Roboto", sans-serif;
  height: 100%;
  line-height: 30px;
  font-size: 17px;
}

.form_input {
  width: 100px;
  font-size: 22px;
  line-height: 30px;
  outline: none;
}
.form_flex-row {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
}

.form_select {
  width: 55px;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 30px;
  outline: none;
}
